<div class="container-fluid">
  <div class="row d-flex justify-content-center">
    <div class="col-xs-4 mt-4">
      <div class="btn-group" role="group" aria-label="Basic example">
        <!-- <button
          type="button"
          class="btn btn-secondary"
          routerLink="/make-order">
          Создать заказ
        </button> -->
        <button 
          type="button" 
          class="btn btn-secondary" 
          routerLink="/order/all">
          Список заказов
        </button>
        <button 
          type="button" 
          class="btn btn-secondary" 
          routerLink="/">
          На главную
        </button>
        <button 
          type="button" 
          class="btn btn-secondary" 
          routerLink="/login">
          Login
      </button>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
