<body>

  <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  </div>

  <!-- <div class="text-center pb-3">
    <h3 class="display-5">До конца акции осталось</h3>
    <h2 class="display-3">
      <countdown [config]="{ leftTime: 7430, format: 'h:mm:ss' }"></countdown>
    </h2>
  </div> -->

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-4 ">
        <div 
        class="card-deck mb-3 mt-3 text-center"
        *ngFor="let product of productList; let i = index">
        <div
          class="card mb-4 box-shadow">
          <!-- <img src="{{product.image}}" class="card-img-top" alt="image"> -->
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">{{product.title}}</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">${{product.price}} <small class="text-muted"></small></h1>
            <h5>color: {{product.color}}</h5>
            <ul class="list-unstyled mt-3 mb-4">
              <li>10 users included</li>
              <li>{{product.description}}</li>
            </ul>
            <select 
              (change)="onColorSelectClick($event)"
              class="form-control my-3">
              <option
                *ngFor="let color of product.colors"
                (click)="onColorSelectClick($event)">{{color.name}}</option>
            </select>
            <button 
              type="button" 
              class="btn btn-lg btn-block btn-outline-primary"
              routerLink="/order/{{i}}/create">BUY</button>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</body>